.App {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	position: relative;
	transition: background-color 0.5s ease-in-out;
}

.dark-App {
	background-color: #151820;
	color: white;
}

.light-App {
	background-color: #e8e8ec;
	color: black;
}

.App__topRight {
	position: fixed;
	top: 20px;
	right: 20px;
	display: flex;
	align-items: center;
	gap: 50px;
}

.App__topRight .MuiSvgIcon-root {
	font-size: 40px;
	cursor: pointer;
}

.App__topRight .MuiSvgIcon-root:hover {
	color: #3d62ba !important;
}

.App__todoListText {
	position: absolute;
	top: 20px;
	left: 20px;
	letter-spacing: 5px;
	text-transform: uppercase;
	cursor: pointer;
}
.App__todoListText:hover {
	color: #3d62ba;
}

/* todos */

.App__content {
	height: 70vh;
	width: 80vw;
	display: flex;
	flex-direction: column;
	gap: 40px;
	position: relative;
}

@media (min-width: 1024px) {
	.App__content {
		width: 50vw;
		margin-top: -50px;
	}
}

/* todos list */

.App__todos {
	height: auto;
	max-height: 48vh;
	overflow: scroll;
	border-radius: 7px;
	z-index: 10 !important;
}

@media (min-width: 1024px) {
	.App__todos {
		max-height: 63vh;
		overflow: scroll;
		border-radius: 7px;
	}
}

.dark-App__todo:not(:last-child) {
	border-bottom: 1px solid #2f3146;
}

.light-App__todo:not(:last-child) {
	border-bottom: 1px solid #dcdbdb;
}

.App__todoList {
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	background-color: #222836;
}

.dark-App__todoList {
	background-color: #222836;
}

.light-App__todoList {
	background-color: white;
}

/* todos info */

@media (min-width: 1024px) {
	.App__todosInfo {
		display: none;
	}
}
