.modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1 !important;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(12, 12, 12, 0.555);
}

.container {
	position: fixed;
	width: 70vw;
	max-width: 400px;
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
}

@media (min-width: 1024px) {
	.container {
		max-width: 500px;
	}
}

.modal > form label {
	font-size: 20px;
	font-weight: 600;
}

.password {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 40px 0;
}

.password > input {
	width: 300px;
	height: 50px;
	border: none;
	outline: none;
	border-radius: 7px;
	font-size: 20px;
	padding: 0 15px;
}

@media (min-width: 1024px) {
	.password > input {
		width: 400px;
	}
}

.modal > form input {
	background-color: #f4f4f4;
	color: black;
}

.dark-modal > form input {
	background-color: #1b1f2a;
	color: white;
}

.container {
	background-color: #fefefe;
	color: black;
}

.dark-modal .container {
	background-color: #222836;
	color: white;
}

.submitBtn {
	background-color: #3d62ba;
	width: 250px;
	height: 50px;
	border-radius: 7px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 20px;
	color: white;
	font-weight: 600;
	letter-spacing: 0.5px;
	transition: all 250ms ease-in-out;
}

.submitBtn:hover {
	background-color: #314f96;
}

.closeBtn {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 18px;
	transition: all 250ms ease-in-out;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.closeBtn:hover {
	background-color: rgb(138, 5, 5);
	color: white;
}
