/* login */

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 150px;
	height: 100vh;
	width: 100vw;
	background-color: #e8e8ec;
	color: #151820;
}

.dark-login {
	background-color: #151820;
	color: white;
}

/* container */

.container {
	width: 400px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	border-radius: 7px;
	background-color: #fefefe;
}

.dark-login > .container {
	background-color: #222836;
}

/* login method */

.login__method {
	display: flex;
	justify-content: space-between;
}

/* login method button */

.loginMethodBtn {
	border: none;
	background: transparent;
	flex: 1;
	height: 50px;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	transition: all 250ms ease-in-out;
	color: black;
}

.loginMethodBtn:hover {
	background-color: #314f96;
	color: white !important;
}

.dark-login .loginMethodBtn {
	color: white;
}

.loginMethodBtn {
	border-bottom-right-radius: 20px;
	border-top-left-radius: 7px;
}

/* register method button */

.registerMethodBtn {
	border-radius: 0;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 7px;
}

/* login method button active */

.loginMethodBtnActive {
	background-color: #4c7bf1;
	color: white !important;
}

/* user info */

.userInfo {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 0 30px;
}

/* inputs */

.inputs {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.inputs label:not(:first-child) {
	margin-top: 30px;
}

.login form input {
	height: 50px;
	border-radius: 7px;
	border: none;
	outline: none;
	font-size: 18px;
	padding: 0 15px;
	background-color: #f4f4f4;
}

.login form label {
	font-weight: 600;
}

.dark-login form input {
	background-color: #1b1f2a;
	color: white;
}

/* remember me and forgot password */

.rememberMeForgotPassword {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* remember me  */

.rememberMe {
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
}

.rememberMeText {
	color: #909091;
	transition: all 250ms ease-in-out;
	user-select: none;
}

/* prevents user from highlighting text */
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.rememberMe:hover > .rememberMeText,
.rememberMeTextActive {
	color: black;
}

.dark-login .rememberMe:hover > .rememberMeText,
.dark-login .rememberMeTextActive {
	color: white;
}

/* forgot password */

.forgotPasswordBtn {
	cursor: pointer;
	color: #909091;
	transition: all 250ms ease-in-out;
}

.forgotPasswordBtn:hover {
	color: black;
}

.dark-login .forgotPasswordBtn:hover {
	color: white;
}

/* submit button */

.submitBtn {
	background-color: #3d62ba;
	height: 40px;
	border-radius: 7px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	color: white;
	font-weight: 600;
	letter-spacing: 0.5px;
	transition: all 250ms ease-in-out;
	margin-top: 30px;
}

.submitBtn:hover {
	background-color: #314f96;
}

/* auth login */

.auths {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
	margin-top: -20px;
	padding-bottom: 10px;
}

.auth {
	height: 70px !important;
	width: 70px !important;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 7px;
	cursor: pointer;
	transition: background-color 250ms ease-in-out;
}

.auth:hover {
	background-color: #f4f4f4;
}

.dark-login .auth:hover {
	background-color: #1b1f2a;
}

.authLogo {
	height: 50px !important;
	width: 50px !important;
	object-fit: cover;
	border-radius: 7px;
}

.facebookLogo {
	height: 40px !important;
	width: 40px !important;
}

.appleLogo {
	height: 45px !important;
	width: 45px !important;
	padding-bottom: 5px;
}
