.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 150px;
	height: 100vh;
	width: 100vw;
	background-color: #e8e8ec;
	color: #151820;
}

.dark-login {
	background-color: #151820;
	color: white;
}

.container {
	width: 400px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	border-radius: 7px;
	background-color: #fefefe;
}

.dark-login > .container {
	background-color: #222836;
}

.login__method {
	display: flex;
	justify-content: space-between;
}

.loginMethodBtn {
	border: none;
	background: transparent;
	flex: 1;
	height: 50px;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	transition: all 250ms ease-in-out;
	color: black;
}

.loginMethodBtn:hover {
	background-color: #314f96;
	color: white !important;
}

.dark-login .loginMethodBtn {
	color: white;
}

.loginMethodBtn {
	border-bottom-right-radius: 20px;
	border-top-left-radius: 7px;
}

.registerMethodBtn {
	border-radius: 0;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 7px;
}

.loginMethodBtnActive {
	background-color: #4c7bf1;
	color: white !important;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 30px;
}

.rememberMeForgotPassword {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.inputs label:not(:first-child) {
	margin-top: 30px;
}

.login form input {
	height: 50px;
	border-radius: 7px;
	border: none;
	outline: none;
	font-size: 18px;
	padding: 0 15px;
	background-color: #f4f4f4;
}

.login form label {
	font-weight: 600;
}

.dark-login form input {
	background-color: #1b1f2a;
	color: white;
}

.rememberMe {
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
}

.rememberMeText {
	color: #a7a7a9;
	transition: all 250ms ease-in-out;
	user-select: none;
}

/* prevents user from highlighting text */
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.rememberMe:hover > .rememberMeText,
.rememberMeTextActive {
	color: black;
}

.dark-login .rememberMe:hover > .rememberMeText,
.dark-login .rememberMeTextActive {
	color: white;
}

.loginBtn {
	background-color: #3d62ba;
	height: 40px;
	border-radius: 7px;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	color: white;
	font-weight: 600;
	letter-spacing: 0.5px;
	transition: all 250ms ease-in-out;
	margin-top: 20px;
}

.loginBtn:hover {
	background-color: #314f96;
}

.forgotPasswordBtn {
	cursor: pointer;
	color: #a7a7a9;
	transition: all 250ms ease-in-out;
}

.forgotPasswordBtn:hover {
	color: #ff505a;
}
