/* modal */

.modal {
	position: fixed !important;
	height: 73%;
	width: 80%;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%) !important;
	z-index: 999;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	border-radius: 7px;
	background-color: white;
	border: 1px solid #dcdbdb;
}

@media (min-width: 1024px) {
	.modal {
		height: 85%;
		width: 50%;
	}
}

.dark-modal {
	background-color: #1b1f2a;
	border: 1px solid #2f3146;
}

/* header */

.header {
	display: flex;
	justify-content: space-between;
}

.header * {
	transition: all 250ms ease-in-out;
}

/* complete status */

.status {
	font-size: 16px;
	position: relative;
}

/* complete status border */

.statusBorder {
	position: absolute;
	top: 4.5px;
	left: -9px;
	height: 15px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.CompletedBorder {
	border-left: 6px solid #3d62ba;
}

.NotCompletedBorder {
	border-left: 6px solid rgb(138, 5, 5);
}

/* close button */

.closeBtn {
	justify-self: end;
	cursor: pointer;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	transition: background-color 250ms ease-in-out;
	color: black;
}

.dark-modal .closeBtn {
	color: white;
}

.closeBtn:hover {
	background-color: rgb(138, 5, 5);
	color: white;
}

.modal__muiBtn {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* body */
.body {
	position: relative;
	flex: 1;
	width: 100%;
}

/* text */
.textContainer {
	width: 95%;
	height: 100%;
}

.text {
	font-size: 18px;
	width: 100%;
	height: 100%;
}

.body textarea {
	background: none;
	border: none;
	outline: none;
	color: inherit;
	resize: none;
}

/* textarea scroll bar */
textarea::-webkit-scrollbar {
	display: inline;
}

textarea::-webkit-scrollbar {
	width: 6px !important;
	background: transparent !important;
}

textarea::-webkit-scrollbar-thumb {
	border-radius: 10px !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1) !important;
	background-color: gray !important;
}

/* edit icon */

.editIcon {
	cursor: pointer;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	justify-self: end;
	align-self: flex-end;
	opacity: 1;
	color: black;
}

.editIcon > * {
	font-size: 15px !important;
}

@media (min-width: 1024px) {
	.status {
		font-size: 25px;
	}

	.statusBorder {
		top: 6px;
		height: 23px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}

	.closeBtn {
		width: 35px;
		height: 35px;
		font-size: 25px;
	}

	.editIcon {
		width: 35px;
		height: 35px;
		opacity: 0;
	}

	.editIcon > * {
		font-size: 25px !important;
	}

	.modal:hover > .editIcon {
		opacity: 1 !important;
	}

	.body {
		padding: 0 30px;
	}

	.textContainer {
		width: 90%;
	}

	.text {
		font-size: 25px;
		width: 100%;
		height: 100%;
	}
}

.dark-modal .editIcon {
	color: white;
}

.editIcon:hover {
	background-color: rgb(2, 103, 2);
	color: white;
}

.editIconActive {
	background-color: green;
	opacity: 1;
	color: white;
}

/* footer */

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	justify-self: flex-end;
	gap: 30px;
	padding-top: 20px;
}

/* buttons */
.btn {
	height: 40px;
	width: 90%;
	cursor: pointer;
	font-weight: 600;
	font-size: 18px;
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 250ms ease-in-out;
	background-color: #e8e8ec;
	border: 1px solid #dcdbdb;
	color: black;
	outline: none;
}

.todosContainer {
	height: auto;
	max-height: 38vh;
	overflow: scroll;
	border-radius: 7px;
	z-index: 10 !important;
}

@media (min-width: 640px) {
	.footer {
		flex-direction: row;
		padding-top: 40px;
	}

	.btn {
		height: 40px;
		width: 400px;
		font-size: 20px;
	}
}

.dark-modal .btn {
	background-color: #222836;
	border: 1px solid #2f3146;
	color: white;
}

/* submit button */

.submitBtn {
	background-color: green !important;
	color: white;
}

.submitBtn:hover {
	background-color: rgb(2, 103, 2) !important;
}

/* complete button */

.completeBtn:hover {
	background-color: #3d62ba;
	color: white;
}

/* delete button */

.deleteBtn:hover {
	background-color: rgb(138, 5, 5);
	color: white;
}

/* cancel button */

.cancelBtn {
	background-color: rgb(138, 5, 5) !important;
	color: white;
}
.cancelBtn:hover {
	background-color: rgb(115, 5, 5) !important;
	color: white;
}

/* hide modal */

.hide__modal {
	z-index: -1;
	opacity: 0;
	animation: hide 0.25s;
	transform: scale(0);
}

@keyframes hide {
	from {
		z-index: 999;
		transform: scale(1);
		opacity: 1;
	}
	to {
		z-index: -1;
		transform: scale(0);
		opacity: 0;
	}
}

/* show modal */

.show__modal {
	z-index: 999;
	opacity: 1;
	animation: show 0.25s;
	transform: scale(1);
}

@keyframes show {
	from {
		z-index: -1;
		transform: scale(0);
		opacity: 0;
	}
	to {
		z-index: 999;
		transform: scale(1);
		opacity: 1;
	}
}
