/* modal */

.modal {
	position: fixed;
	width: 80vw;
	height: 81vh;
	top: 10%;
	left: 7%;
	z-index: 999;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	border-radius: 7px;
	background-color: white;
	border: 1px solid #dcdbdb;
}

@media (min-width: 1024px) {
	.modal {
		width: 50vw;
		top: 10%;
		left: 25%;
	}
}

.dark-modal {
	background-color: #1b1f2a;
	border: 1px solid #2f3146;
}

/* header */

.header {
	display: grid;
	justify-content: space-between;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 550px;
	grid-template-areas:
		'status closeBtn'
		'body body';
}

.header * {
	transition: all 250ms ease-in-out;
}

/* complete status */

.status {
	grid-area: status;
}

/* complete status border */

.statusBorder {
	position: absolute;
	top: 29px;
	left: 12px;
	height: 27px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.CompletedBorder {
	border-left: 6px solid #3d62ba;
}

.NotCompletedBorder {
	border-left: 6px solid rgb(138, 5, 5);
}

/* close button */

.closeBtn {
	grid-area: closeBtn;
	justify-self: end;
	cursor: pointer;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	transition: background-color 250ms ease-in-out;
	color: black;
}

.dark-modal .closeBtn {
	color: white;
}

.closeBtn:hover {
	background-color: rgb(138, 5, 5);
	color: white;
}

.modal__muiBtn {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* body */

.body {
	grid-area: body;
	overflow: scroll;
	padding: 0 30px;
	position: relative;
}

/* text */

.text {
	font-size: 25px;
	overflow: scroll;
	overflow-wrap: break-word;
	width: 100%;
}

.body input {
	background: none;
	border: none;
	outline: none;
	color: inherit;
}

/* edit icon */

.editIcon {
	position: absolute;
	top: 85px;
	right: 25px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	color: black;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
}

.dark-modal .editIcon {
	color: white;
}

.editIcon:hover {
	background-color: #3d62ba;
}

.editIconActive {
	background-color: green;
	opacity: 1;
}

.header:hover .editIcon {
	opacity: 1 !important;
}

/* footer */

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}

/* buttons */

.btn {
	height: 40px;
	width: 400px;
	cursor: pointer;
	font-weight: 600;
	font-size: 20px;
	border-radius: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 250ms ease-in-out;
	background-color: #e8e8ec;
	border: 1px solid #dcdbdb;
	color: black;
	outline: none;
}

.dark-modal .btn {
	background-color: #222836;
	border: 1px solid #2f3146;
	color: white;
}

/* submit button */

.submitBtn {
	background-color: green !important;
	color: white;
}

.submitBtn:hover {
	background-color: rgb(2, 103, 2) !important;
}

/* complete button */

.completeBtn:hover {
	background-color: #3d62ba;
	color: white;
}

/* delete button */

.deleteBtn:hover {
	background-color: rgb(138, 5, 5);
	color: white;
}

/* hide modal */

.hide__modal {
	z-index: -1;
	opacity: 0;
	animation: hide 0.25s;
	transform: scale(0);
}

@keyframes hide {
	from {
		z-index: 999;
		transform: scale(1);
		opacity: 1;
	}
	to {
		z-index: -1;
		transform: scale(0);
		opacity: 0;
	}
}

/* show modal */

.show__modal {
	z-index: 999;
	opacity: 1;
	animation: show 0.25s;
	transform: scale(1);
}

@keyframes show {
	from {
		z-index: -1;
		transform: scale(0);
		opacity: 0;
	}
	to {
		z-index: 999;
		transform: scale(1);
		opacity: 1;
	}
}
