.todosInfo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	position: sticky;
	width: 100%;
	bottom: 0;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}

.dark-todosInfo {
	background-color: #222836;
	border-top: 1px solid #2f3146;
	color: #5b5d76;
}

.light-todosInfo {
	background-color: white;
	border-top: 1px solid #dcdbdb;
	color: gray;
}

.todosInfo p:hover {
	color: #3d62ba;
	cursor: pointer;
}

.todosInfo__left {
	padding-left: 30px;
}

.todosInfo__right {
	padding-right: 30px;
}
