/* todo information */

.todosInfo {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 40px;
	position: sticky;
	width: 100%;
	bottom: 0;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	background-color: white;
	border-top: 1px solid #dcdbdb;
	color: gray;
}

.todosInfo > p {
	font-size: 12px !important;
}

@media (min-width: 640px) {
	.todosInfo {
		height: 50px;
	}

	.todosInfo > p {
		font-size: 16px !important;
	}
}

@media (min-width: 1024px) {
	.todosInfo {
		height: 70px;
	}

	.todosInfo > p {
		font-size: 16px !important;
	}
}

.dark-todosInfo {
	background-color: #222836;
	border-top: 1px solid #2f3146;
	color: #51536c;
}

.todosInfo > p:hover {
	color: #3d62ba;
	cursor: pointer;
}

/* todos sort */

@media (max-width: 1024px) {
	.todosSort {
		display: none !important;
	}
}
