/* todos sort */

.todosSort {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 70px;
	border-radius: 7px;
	background-color: white;
}

.dark-todosSort {
	background-color: #222836;
}

.todosSort > p {
	cursor: pointer;
	color: #51536c;
	font-size: 20px;
	font-weight: 600;
}

.todosSort > p:hover,
.sortSeleted {
	color: #3d62ba !important;
}

@media (min-width: 768px) {
	.todosSort {
		gap: 20px;
	}
}

@media (min-width: 1024px) {
	.todosSort > p {
		font-size: 16px;
	}
}

@media (min-width: 1280px) {
	.todosSort {
		gap: 50px;
	}
}
