/* user info */

.userInfo {
	display: flex;
	flex-direction: column;
	height: 50px;
}

/* account icon */

.accountIcon {
	font-size: 40px !important;
}

/* container */

.container {
	position: absolute;
	top: 50px;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: left;
	border-radius: 7px;
	display: none;
	z-index: 9999;
	background-color: #fefefe;
}

.userInfo:hover .container,
.container:hover .container {
	display: flex;
}

.dark-userInfo > .container {
	background-color: #222836;
}

.container p {
	height: 50px;
	font-size: 16px;
	white-space: nowrap;
	padding: 0 20px;
	display: flex;
	align-items: center;
	cursor: pointer;
	font-weight: 600;
	color: black;
}

.dark-userInfo > .container > p {
	color: white;
}

.container > p:first-child {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

.container > p:last-child {
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

.container > p:hover {
	background-color: #f4f4f4;
	color: #3d62ba;
}

.dark-userInfo > .container > p:hover {
	background-color: #1b1f2a;
	color: #3d62ba;
}

.container > p:not(:last-child) {
	border-bottom: 1px solid #dcdbdb;
}

.dark-userInfo > .container > p:not(:last-child) {
	border-bottom: 1px solid #2f3146;
}

/* up arrow */

.upArrow {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 44px;
	right: 12px;
	transform: rotate(45deg) !important;
	opacity: 0;
	background-color: #e8e8ec;
}

.dark-userInfo > .upArrow {
	background-color: #151820;
}

.userInfo:hover > .upArrow {
	background-color: #fefefe;
	opacity: 1;
}

.dark-userInfo:hover > .upArrow {
	opacity: 1;
	background-color: #222836;
}
